{
  "presets": [
    ["env", {
      "modules": false,
    }]
  ],
  "env": {
    "rollup": {
      "presets": [
        ["env", {
          "modules": false,
        }]
      ],
      "plugins": ["external-helpers"]
    }
  }
}
